{% extends 'noteEditor/base.html' %}
{% block title %}Add Note{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add New Sticky Notes</h3>
                    {% if noteAdded %}
                        <div class="alert alert-success" role="alert">
                            {{ noteAdded }}
                        </div>
                    {% endif %}
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'noteEditor/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

